/* Image replacement */
.accepted_credit_cards {
  list-style: none; }
  .accepted_credit_cards .card {
    display: inline-block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    background-image: url("/assets/images/sprites/credit-cards.png");
    background-repeat: no-repeat;
    float: left;
    height: 22px;
    margin-left: 2px;
    width: 29px; }
    .accepted_credit_cards .card.visa {
      background-position: 0 0; }
    .accepted_credit_cards .card.mastercard {
      background-position: -29px 0; }
    .accepted_credit_cards .card.discover {
      background-position: -58px 0; }
    .accepted_credit_cards .card.amex {
      background-position: -87px 0; }
    .accepted_credit_cards .card.no_match {
      opacity: .5;
      filter: gray;
      -webkit-filter: grayscale(100%); }



/* Image replacement */
@mixin imageReplace {
  display: inline-block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.accepted_credit_cards {
  list-style: none;
  .card {
    @include imageReplace();
    background-image: url('/assets/images/sprites/credit-cards.png');
    background-repeat: no-repeat;
    float: left;
    height: 22px;
    margin-left: 2px;
    width: 29px;
    &.visa { background-position: 0 0; }
    &.mastercard { background-position: -29px 0; }
    &.discover { background-position: -58px 0; }
    &.amex { background-position: -87px 0; }
    &.no_match {
      opacity: .5;
      filter: gray;
      -webkit-filter: grayscale(100%); 
    }
  }
}
